$kaushan: "Kaushan Script", cursive;
$montserrat: "Montserrat", sans-serif;
$red: #f38181;
$black: #333333;
$gray: #999999;
$blue: #95e1d3;
$yellow: #fce38a;
$red-yellow: linear-gradient($red, $yellow);
