@import url(./normalize.css);
@import "variables";
@import "max_width768";

header,
section,
footer {
  padding: 0 calc(50% - 600px);
  overflow: hidden;
  font-family: $montserrat;
}
ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
}

.container {
  padding: 40px 0;
  width: 100%;
}

.title {
  text-align: center;
  font-size: 2rem;

  p {
    color: $black;
  }
  p:first-child {
    font-family: $kaushan;
    margin-bottom: 15px;
  }
  p:last-child {
    margin: 0;
    text-transform: uppercase;
  }
  &:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: $red;
    margin: 40px auto;
  }
}
p {
  color: $gray;
  text-align: center;
  &.block-p {
    line-height: 25px;
  }
}

.btn {
  display: inline-block;
  vertical-align: top;
  border: 3px solid #fff;
  padding: 8px 30px;
  text-transform: uppercase;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  transition: 0.2s;

  &:hover {
    background-color: #fff;
    color: #333;
  }
}

header {
  background: url(../img/mogo.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  p {
    color: white;
  }
  color: white;
  .title {
    width: 65%;
    p {
      color: white;
    }
    p:first-child {
      font-size: 4rem;
      margin-bottom: 10px;
    }
    p:last-child {
      font-size: 7rem;
      text-align: center;
    }
    &:after {
      background-color: white;
      margin: 60px auto;
    }
  }
}
.intro__container {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 550px;
}
.slide__inner {
  padding: 5%;
}
.header__burger {
  display: none;
  cursor: pointer;
  margin-right: 20px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  * {
    color: white;
  }
  .header__menu {
    width: 60%;
    &.s_active {
      width: 70%;
    }
  }
  ul {
    text-transform: uppercase;
    align-items: center;
    .input {
      display: none;
      &.s_active {
        transition: all 0.4s ease;
        display: inline-block;
      }
    }
    input {
      border-radius: 10px;
      border: none;
      padding: 5px;
      color: $black;
      &:focus {
        outline: none;
      }
    }
    a {
      background: linear-gradient(currentColor 0 0) var(--p, 0) 100% /
        var(--d, 0) 2px no-repeat;
      transition: 0.3s, background-position 0s 0.3s;
      font-size: 1.2rem;
    }
    li:hover {
      a,
      i {
        color: $yellow;
      }
      &.line {
        --d: 100%;
        --p: 100%;
      }
    }
  }
  p {
    padding-left: 15px;
    font-size: 1.9rem;
  }
}

.intro__dots {
  display: flex;
  margin: 5% 0;
  padding: 0 5%;
  font-size: 1.3rem;
  cursor: pointer;

  ul {
    width: 100%;
    margin: 0;
    flex-wrap: wrap;
    li {
      position: relative;
      display: flex;
      opacity: 0.5;
      flex: 1 0 100px;
      margin: 0 10px;
      justify-content: space-between;
      border-top: 3px solid $red;

      .dots__item {
        padding: 10px 0 0 0;
      }
      .dots__number {
        font-weight: 700;
      }

      &.slick-active ~ li {
        &::before {
          width: 100%;
        }
      }
      &::before {
        position: absolute;
        content: "";
        width: 0%;
        height: 3px;
        top: -3px;
        right: 0;
        background-color: white;
        z-index: 4;
        transition: all 0.3s ease;
      }
      &.slick-active {
        opacity: 1;
        &::before {
          transition-delay: 0.3s;
          width: 60% !important;
        }
      }
    }
  }
}

.about__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 90px 0 40px 0;
  .about__item {
    cursor: pointer;
    position: relative;
    margin: 10px;
    transition: all 0.3s ease;
    &:hover {
      .about__text {
        display: block;
        z-index: 5;
      }
      .about__img {
        img {
          transform: translate3d(-10px, -10px, 10px);
        }
        &::before {
          transform: translate3d(-10px, -10px, 10px);
          background: $red-yellow;
        }
      }
    }
    .about__img {
      background-color: $blue;
      max-height: 250px;
      img {
        transform: translate3d(0px, 0px, 0px);
        transition: all 0.3s ease;
      }

      &::before {
        transform: translate3d(0px, 0px, 0px);
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        opacity: 0.8;
        z-index: 4;
        transition: all 0.3s ease;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
    .about__text {
      display: none;
      z-index: 5;
      i {
        font-size: 2rem;
        margin: 5px;
      }
      color: white;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      position: absolute;
      top: 30%;
      left: 35%;
    }
  }
}
@media (max-width: 1000px) {
  .w1000 {
    display: none;
  }
  header {
    .title {
      p:first-child {
        font-size: 3.5rem;
      }
      p:last-child {
        font-size: 5.5rem;
        text-align: center;
      }
    }
  }
}
