@import url(./normalize.css);
header,
section,
footer {
  padding: 0 calc(50% - 600px);
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

a {
  text-decoration: none;
}

.container {
  padding: 40px 10px;
  width: 100%;
}

.title {
  text-align: center;
  font-size: 2rem;
}

.title p {
  color: #333333;
}

.title p:first-child {
  font-family: "Kaushan Script", cursive;
  margin-bottom: 15px;
}

.title p:last-child {
  margin: 0;
  text-transform: uppercase;
}

.title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto;
}

p {
  color: #999999;
  text-align: center;
}

p.p-sect {
  width: 90%;
  margin: 0 auto;
}

p.block-p {
  line-height: 25px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  border: 3px solid #fff;
  padding: 8px 30px;
  text-transform: uppercase;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn:hover {
  background-color: #fff;
  color: #333;
}

header {
  background: url(../img/mogo.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

header p {
  color: white;
}

header .title {
  width: 65%;
}

header .title p {
  color: white;
}

header .title p:first-child {
  font-size: 4rem;
  margin-bottom: 10px;
}

header .title p:last-child {
  font-size: 7rem;
  text-align: center;
}

header .title:after {
  background-color: white;
  margin: 60px auto;
}

.intro__container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 550px;
}

.slide__inner {
  padding: 5%;
}

.header__burger {
  display: none;
  cursor: pointer;
  margin-right: 20px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav * {
  color: white;
}

.header__nav .header__menu {
  width: 60%;
}

.header__nav .header__menu.s_active {
  width: 70%;
}

.header__nav ul {
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav ul .input {
  display: none;
}

.header__nav ul .input.s_active {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: inline-block;
}

.header__nav ul input {
  border-radius: 10px;
  border: none;
  padding: 5px;
  color: #333333;
}

.header__nav ul input:focus {
  outline: none;
}

.header__nav ul a {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, currentColor)) var(--p, 0) 100%/var(--d, 0) 2px no-repeat;
  background: linear-gradient(currentColor 0 0) var(--p, 0) 100%/var(--d, 0) 2px no-repeat;
  -webkit-transition: 0.3s, background-position 0s 0.3s;
  transition: 0.3s, background-position 0s 0.3s;
  font-size: 1.2rem;
}

.header__nav ul li:hover a,
.header__nav ul li:hover i {
  color: #fce38a;
}

.header__nav ul li:hover.line {
  --d: 100%;
  --p: 100%;
}

.header__nav p {
  padding-left: 15px;
  font-size: 1.9rem;
}

.intro__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5% 0;
  padding: 0 5%;
  font-size: 1.3rem;
  cursor: pointer;
}

.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 60px 0 40px 0;
}

.about__items .about__item {
  cursor: pointer;
  margin: 15px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about__items .about__item:nth-child(2) {
  margin: 15px 20px;
}

.about__items .about__item .about__img {
  background-color: #95e1d3;
  max-height: 250px;
  position: relative;
}

.about__items .about__item .about__img img {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
}

.about__items .about__item .about__img::before {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about__items .about__item .about__text {
  display: none;
  z-index: 5;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  top: 35%;
  left: 35%;
}

.about__items .about__item .about__text i {
  font-size: 2rem;
  margin: 5px;
}

.about__items .about__item:hover .about__text {
  display: block;
  z-index: 5;
}

.about__items .about__item:hover .about__img img {
  -webkit-transform: translate3d(-10px, -10px, 10px);
          transform: translate3d(-10px, -10px, 10px);
}

.about__items .about__item:hover .about__img::before {
  -webkit-transform: translate3d(-10px, -10px, 10px);
          transform: translate3d(-10px, -10px, 10px);
  background: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
  background: linear-gradient(#f38181, #fce38a);
  opacity: 0.8;
}

.number {
  background-color: #95e1d3;
}

.number__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(220px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.number__item {
  min-width: 220px;
  grid-auto-flow: row;
  border-right: 1px solid white;
  padding: 40px 10px 50px;
}

.number__item:first-child {
  border-left: 1px solid white;
}

.number__item p {
  color: white;
  text-transform: uppercase;
  margin: 0;
  font-size: 1rem;
}

.number__item p .big {
  line-height: 1.5em;
  font-weight: 700;
  font-size: 4.5em;
}

@media (max-width: 1000px) {
  .w1000 {
    display: none;
  }
  header .title p:first-child {
    font-size: 3.5rem;
  }
  header .title p:last-child {
    font-size: 5.5rem;
    text-align: center;
  }
}

.swiper-pagination {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 30px 0 0;
  color: #aaa;
  position: relative;
}

.swiper-pagination .box {
  opacity: 0.5 !important;
  border-radius: 0;
  background: transparent;
  font-size: 1.5rem;
  width: 24%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  color: #fff;
}

.box.swiper-pagination-bullet-active {
  opacity: 1 !important;
}

.swiper-pagination-bullet {
  position: relative;
  margin: 30px 15px 30px !important;
  border-top: 3px solid;
  border-top-color: #f38181;
  opacity: 1 !important;
}

.swiper-pagination-bullet::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 3px;
  top: -3px;
  right: 0;
  background-color: white;
  z-index: 4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet.swiper-pagination-bullet .bigNumber {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-right: 10px;
  font-weight: 800;
}

.swiper-pagination-bullet.swiper-pagination-bullet .text {
  font-size: 1.5rem;
  margin-top: 10px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  background-color: white;
  width: 50%;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active ~ .swiper-pagination-bullet.swiper-pagination-bullet::before {
  background-color: white;
  width: 100%;
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
  * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
  }
  p.p-sect {
    width: 90%;
  }
  .header__nav .header__burger {
    display: block;
    position: relative;
    z-index: 10;
    width: 30px;
    height: 20px;
  }
  .header__nav .header__burger::before, .header__nav .header__burger::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__nav .header__burger::before {
    top: 0;
  }
  .header__nav .header__burger::after {
    bottom: 0;
  }
  .header__nav .header__burger span {
    position: absolute;
    background-color: white;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__nav .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__nav .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__nav .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav .header__menu {
    position: fixed;
    z-index: 10;
    top: -100%;
    left: 0;
    width: 100% !important;
    height: 100%;
    background-color: #f38181;
    padding: 70px 0 0 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: auto;
  }
  .header__nav .header__menu.active {
    top: 0;
  }
  .header__nav .menu-item {
    margin-bottom: 30px;
  }
  .header__nav .menu-item a {
    font-size: 1.5rem;
  }
  header {
    background: url(../img/mogo.jpg) no-repeat;
    background-size: cover;
    color: white;
  }
  header .title {
    width: 100% !important;
  }
  header .title p:last-child {
    font-size: 7rem;
    text-align: center;
  }
  .intro__dots ul {
    padding-top: 20px;
  }
  .intro__dots ul li {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 150px;
  }
  .intro__dots ul li .dots__item {
    padding: 10px 0 !important;
  }
  .intro__container {
    min-height: auto !important;
  }
  .about__item {
    margin: 15px 20px !important;
  }
}

@media (max-width: 555px) {
  header .title p:first-child {
    font-size: 2rem !important;
  }
  header .title p:last-child {
    font-size: 3rem !important;
    word-wrap: break-word;
  }
  .intro__dots ul li {
    max-width: 20%;
    min-width: 45px;
    margin: 0 !important;
  }
  .intro__dots ul li .dots__item span.dots__text {
    display: none;
  }
  .about__items {
    margin: 20px 0 !important;
  }
  .about__items .about__item .about__text {
    font-size: 1rem;
    -webkit-transform: translate3d(-15px, -10px, 20px);
            transform: translate3d(-15px, -10px, 20px);
  }
  .about__items .about__item .about__text i {
    font-size: 1.5rem !important;
  }
  .about__items .about__item .about__img {
    height: 99%;
  }
  .number__item {
    padding: 20px 0 30px;
  }
  .number__item p {
    font-size: 0.8rem;
  }
  .swiper-pagination {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 150px;
            flex: 1 0 150px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .swiper-pagination .swiper-pagination-bullet .bigNumber {
    font-size: 1.2rem;
  }
  .swiper-pagination .swiper-pagination-bullet .text {
    display: none;
  }
}

@media (max-width: 1120px) {
  .number__item {
    border-bottom: 1px solid white;
  }
}

@media (max-width: 320px) {
  .about__text {
    -webkit-transform: translate3d(-20px, -15px, 20px);
            transform: translate3d(-20px, -15px, 20px);
    font-size: 0.8rem !important;
  }
}

@media (max-width: 250px) {
  .about__text {
    top: 20% !important;
    left: 20% !important;
  }
  .number__item p {
    font-size: 0.5rem;
  }
}
/*# sourceMappingURL=style.css.map */